# LLM model setup. If you want to use a different provider, add the relevant API key with the correct prefix.
OPENAI_API_KEY=""
LLM_MODEL="gpt-4o-mini"
LLM_PROVIDER="openai"

LANGSMITH_API_KEY=""
OPENAI_API_KEY=""
TAVILY_API_KEY = ""
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT="The_Jobfather"
